@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --SliderBG: #f5f5f5;
  --SliderBGHovr: #0000000e;
  --UserName: #458cff;
  --Text: #4b5563;
  --TextHovr: #39414d;
  --MessageSender: #DBEAFE;
  --MessageReceiver: #4399ff;
  --ChatBG: #e6e3e3;
}

.dark {

  --SliderBG: #172338;
  --SliderBGHovr: #202020;
  --UserName: #ff9945;
  --Text: #b5b5b5;
  --TextHovr: #d5d5d5;
  --MessageSender: #1f354d;
  --MessageReceiver: #ff6645;
  --ChatBG: #1f354d;
}

html {
  scroll-behavior: smooth;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #313687 #ffffff;
  }


  .cloud {
    height: 180px; /* control the size */
    aspect-ratio: 1.8;
    --g: radial-gradient(50% 50%, #000 98%, #0000) no-repeat;
    mask: var(--g) 100% 100%/30% 60%,var(--g) 70% 0/50% 100%,var(--g) 0 100%/36% 68%,var(--g) 27% 18%/26% 40%,linear-gradient(#000 0 0) bottom/67% 58% no-repeat;
    background: #ffffff;
}



